https://www.kaggle.com/samsitta/mexicostatescoordinates
https://www.kaggle.com/wansxpha/violenca-mexico
https://www.kaggle.com/ricfraga/mexicos-crime-incidence-by-state-2010-2018

In [5]:
import json 
import pandas as pd

In [2]:
mexican_states = json.load(open('mexican_states.geojson','r'))

In [14]:
mexican_states['features'][2]['properties']

{'objectid': 1111,
 'fips_admin': 'MX08',
 'gmi_admin': 'MEX-COL',
 'admin_name': 'Colima',
 'fips_cntry': 'MX',
 'gmi_cntry': 'MEX',
 'cntry_name': 'Mexico',
 'pop_admin': 466124,
 'type_eng': 'State',
 'type_loc': 'Estado',
 'sqkm': 5747.09,
 'sqmi': 2218.95,
 'color_map': '2',
 'shape_leng': 3.20790605626,
 'shape_area': 0.49200626453,
 'cartodb_id': 22,
 'created_at': '2014-08-19T17:34:57Z',
 'updated_at': '2014-08-19T17:34:57Z'}

In [6]:
df = pd.read_csv('Mexico-crimen-by-state.csv')

In [7]:
df.head()

,Entidad,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Estados Unidos Mexicanos,30535,29200,35139,41563,41655,35497,37017,39369,37807
1,Aguascalientes,56089,25511,32368,24711,39453,35457,41254,39912,36500
2,Baja California,31791,29446,39297,57066,56632,32758,51286,43921,42725
3,Baja California Sur,25779,28884,31049,23747,34700,25577,29939,25690,28377
4,Campeche,20922,21704,29097,30597,29306,22114,28892,28283,26466